
.main-create-bot {
    background-color: #242c37;
    width: 100vw;
    height: 100vh;
    margin: 0%;
}

.new-bot-container {

}
/* body {
    overflow-y: hidden;
    background-color: #242c37;
} */